<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MangaSketch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MangaSketch.My.MySettings>
            <setting name="MyClientSize" serializeAs="String">
                <value>783, 545</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="font" serializeAs="String">
                <value>ＭＳ ゴシック</value>
            </setting>
            <setting name="size" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="RTL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartLeft" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vertical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportDpi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExpoerPaper" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="restoreBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="ExportRuby" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RubyType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseGaiji" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GaijiSlant" serializeAs="String">
                <value>True</value>
            </setting>
        </MangaSketch.My.MySettings>
    </userSettings>
</configuration>